body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  --margin: 1px;
  margin: var(--margin);
  background-color: #222;
  color: #ddd;

  min-height: calc(100vh - var(--margin) * 2);
}